.UserProfile {
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProfileHeader {
    text-align: center;
    margin-top: 0px;
}

.ProfileHeader h1 {
    font-size: 36px;
    margin: 0;
}

.ProfileHeader p {
    font-size: 18px;
    margin: 10px 0;
}

.ProfileBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ProfilePicture {
    margin-top: 100px;
    margin-bottom: 20px;
}

.heading {
    margin: 1%;
}
.table-container {
    padding: 0 10%;
    margin: 0%;
    max-height: 550px;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    width: 6px;
}

.ProfilePicture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ProfileInfo p {
    margin: 10px 0;
    text-align: left;
}

.ProfileInfo strong {
    margin-right: 10px;
}